<!DOCTYPE HTML>
<html>
  <head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.6.8-fix/jquery.nicescroll.min.js"></script>

    <link href="css/chat.css" rel="stylesheet">
    <script src="js/nicescroll.js"></script>
  </head>
  <body>
    <script> 
$("#chat").mouseover(function() {
  $("#chat").getNiceScroll().resize();
});
    </script>
    <a href="/ind">Logout</a>
    <div class="content container-fluid bootstrap snippets">
      <div class="row row-broken">
        <div class="col-sm-3 col-xs-12">
          <div class="col-inside-lg decor-default" style="overflow: hidden; outline: none;" tabindex="5000">
              <h6>Online</h6>
            <div class="chat-users chat">
              <div class="user">
                <div class="avatar">
                  <img src="http://91.234.35.26/iwiki-admin/v1.0.0/admin/img/images/chat/40.png" alt="User name">
                  <div class="status off"></div>
                </div>
                <div class="name">User name</div>
                <div class="mood">User mood</div>
              </div>
              <div class="user">
                <div class="avatar">
                  <img src="http://91.234.35.26/iwiki-admin/v1.0.0/admin/img/images/chat/40-2.png" alt="User name">
                  <div class="status online"></div>
                </div>
                <div class="name">User name</div>
                <div class="mood">User mood</div>
              </div>
              <div class="user">
                <div class="avatar">
                  <img src="http://91.234.35.26/iwiki-admin/v1.0.0/admin/img/images/chat/40-3.png" alt="User name">
                  <div class="status busy"></div>
                </div>
                <div class="name">User name</div>
                <div class="mood">User mood</div>
              </div>
              <div class="user">
                <div class="avatar">
                  <img src="http://91.234.35.26/iwiki-admin/v1.0.0/admin/img/images/chat/40-4.png" alt="User name">
                  <div class="status offline"></div>
                </div>
                <div class="name">User name</div>
                <div class="mood">User mood</div>
              </div>
              <div class="user">
                <div class="avatar">
                  <img src="http://91.234.35.26/iwiki-admin/v1.0.0/admin/img/images/chat/40-5.png" alt="User name">
                  <div class="status off"></div>
                </div>
                <div class="name">User name</div>
                <div class="mood">User mood</div>
              </div>
              <div class="user">
                <div class="avatar">
                  <img src="http://91.234.35.26/iwiki-admin/v1.0.0/admin/img/images/chat/40-6.png" alt="User name">
                  <div class="status online"></div>
                </div>
                <div class="name">User name</div>
                <div class="mood">User mood</div>
              </div>
              <div class="user">
                <div class="avatar">
                  <img src="http://91.234.35.26/iwiki-admin/v1.0.0/admin/img/images/chat/40-7.png" alt="User name">
                  <div class="status busy"></div>
                </div>
                <div class="name">User name</div>
                <div class="mood">User mood</div>
              </div>
              <div class="user">
                <div class="avatar">
                  <img src="http://91.234.35.26/iwiki-admin/v1.0.0/admin/img/images/chat/40-3.png" alt="User name">
                  <div class="status offline"></div>
                </div>
                <div class="name">User name</div>
                <div class="mood">User mood</div>
              </div>
              <div class="user">
                <div class="avatar">
                  <img src="http://91.234.35.26/iwiki-admin/v1.0.0/admin/img/images/chat/40-5.png" alt="User name">
                  <div class="status off"></div>
                </div>
                <div class="name">User name</div>
                <div class="mood">User mood</div>
              </div>
              <div class="user">
                <div class="avatar">
                  <img src="http://91.234.35.26/iwiki-admin/v1.0.0/admin/img/images/chat/40-7.png" alt="User name">
                  <div class="status online"></div>
                </div>
                <div class="name">User name</div>
                <div class="mood">User mood</div>
              </div>
              <div class="user">
                <div class="avatar">
                  <img src="http://91.234.35.26/iwiki-admin/v1.0.0/admin/img/images/chat/40-2.png" alt="User name">
                  <div class="status busy"></div>
                </div>
                <div class="name">User name</div>
                <div class="mood">User mood</div>
              </div>
              <div class="user">
                <div class="avatar">
                  <img src="http://91.234.35.26/iwiki-admin/v1.0.0/admin/img/images/chat/40-3.png" alt="User name">
                  <div class="status offline"></div>
                </div>
                <div class="name">User name</div>
                <div class="mood">User mood</div>
              </div>
              <div class="user">
                <div class="avatar">
                  <img src="http://91.234.35.26/iwiki-admin/v1.0.0/admin/img/images/chat/40-4.png" alt="User name">
                  <div class="status off"></div>
                </div>
                <div class="name">User name</div>
                <div class="mood">User mood</div>
              </div>
              <div class="user">
                <div class="avatar">
                  <img src="http://91.234.35.26/iwiki-admin/v1.0.0/admin/img/images/chat/40-5.png" alt="User name">
                  <div class="status off"></div>
                </div>
                <div class="name">User name</div>
                <div class="mood">User mood</div>
              </div>
              <div class="user">
                <div class="avatar">
                  <img src="http://91.234.35.26/iwiki-admin/v1.0.0/admin/img/images/chat/40-6.png" alt="User name">
                  <div class="status online"></div>
                </div>
                <div class="name">User name</div>
                <div class="mood">User mood</div>
              </div>
              <div class="user">
                <div class="avatar">
                  <img src="http://91.234.35.26/iwiki-admin/v1.0.0/admin/img/images/chat/40-7.png" alt="User name">
                  <div class="status busy"></div>
                </div>
                <div class="name">User name</div>
                <div class="mood">User mood</div>
              </div>
              <div class="user">
                <div class="avatar">
                  <img src="http://91.234.35.26/iwiki-admin/v1.0.0/admin/img/images/chat/40-3.png" alt="User name">
                  <div class="status offline"></div>
                </div>
                <div class="name">User name</div>
                <div class="mood">User mood</div>
              </div>
              <div class="user">
                <div class="avatar">
                  <img src="http://91.234.35.26/iwiki-admin/v1.0.0/admin/img/images/chat/40-5.png" alt="User name">
                  <div class="status off"></div>
                </div>
                <div class="name">User name</div>
                <div class="mood">User mood</div>
              </div>
              <div class="user">
                <div class="avatar">
                  <img src="http://91.234.35.26/iwiki-admin/v1.0.0/admin/img/images/chat/40-7.png" alt="User name">
                  <div class="status online"></div>
                </div>
                <div class="name">User name</div>
                <div class="mood">User mood</div>
              </div>
              <div class="user">
                <div class="avatar">
                  <img src="http://91.234.35.26/iwiki-admin/v1.0.0/admin/img/images/chat/40-5.png" alt="User name">
                  <div class="status busy"></div>
                </div>
                <div class="name">User name</div>
                <div class="mood">User mood</div>
              </div>
              <div class="user">
                <div class="avatar">
                  <img src="http://91.234.35.26/iwiki-admin/v1.0.0/admin/img/images/chat/40-2.png" alt="User name">
                  <div class="status offline"></div>
                </div>
                <div class="name">User name</div>
                <div class="mood">User mood</div>
              </div>
              <div class="user">
                <div class="avatar">
                  <img src="http://91.234.35.26/iwiki-admin/v1.0.0/admin/img/images/chat/40-3.png" alt="User name">
                  <div class="status off"></div>
                </div>
                <div class="name">User name</div>
                <div class="mood">User mood</div>
              </div>
              <div class="user">
                <div class="avatar">
                  <img src="http://91.234.35.26/iwiki-admin/v1.0.0/admin/img/images/chat/40-4.png" alt="User name">
                  <div class="status online"></div>
                </div>
                <div class="name">User name</div>
                <div class="mood">User mood</div>
              </div>
              <div class="user">
                <div class="avatar">
                  <img src="http://91.234.35.26/iwiki-admin/v1.0.0/admin/img/images/chat/40-5.png" alt="User name">
                  <div class="status busy"></div>
                </div>
                <div class="name">User name</div>
                <div class="mood">User mood</div>
              </div>
              <div class="user">
                <div class="avatar">
                  <img src="http://91.234.35.26/iwiki-admin/v1.0.0/admin/img/images/chat/40-6.png" alt="User name">
                  <div class="status offline"></div>
                </div>
                <div class="name">User name</div>
                <div class="mood">User mood</div>
              </div>
              <div class="user">
                <div class="avatar">
                  <img src="http://91.234.35.26/iwiki-admin/v1.0.0/admin/img/images/chat/40-3.png" alt="User name">
                  <div class="status off"></div>
                </div>
                <div class="name">User name</div>
                <div class="mood">User mood</div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-9 col-xs-12" style="overflow: hidden; outline: none;" tabindex="5001">
          <div class="col-inside-lg decor-default">
              <h6>Mini Chat</h6>
            <div class="chat-body chat">
              <div class="answer left">
                <div class="avatar">
                  <img src="http://91.234.35.26/iwiki-admin/v1.0.0/admin/img/images/chat/40-2.png" alt="User name">
                  <div class="status offline"></div>
                </div>
                <div class="name">Alexander Herthic</div>
                <div class="text">
                  Lorem ipsum dolor amet, consectetur adipisicing elit Lorem ipsum dolor amet, consectetur adipisicing elit Lorem ipsum dolor amet, consectetur adiping elit
                </div>
                <div class="time">5 min ago</div>
              </div>
              <div class="answer right">
                <div class="avatar">
                  <img src="http://91.234.35.26/iwiki-admin/v1.0.0/admin/img/images/chat/40.png" alt="User name">
                  <div class="status offline"></div>
                </div>
                <div class="name">Alexander Herthic</div>
                <div class="text">
                  Lorem ipsum dolor amet, consectetur adipisicing elit Lorem ipsum dolor amet, consectetur adipisicing elit Lorem ipsum dolor amet, consectetur adiping elit
                </div>
                <div class="time">5 min ago</div>
              </div>
              <div class="answer left">
                <div class="avatar">
                  <img src="http://91.234.35.26/iwiki-admin/v1.0.0/admin/img/images/chat/40-2.png" alt="User name">
                  <div class="status online"></div>
                </div>
                <div class="name">Alexander Herthic</div>
                <div class="text">
                  ...
                </div>
                <div class="time">5 min ago</div>
              </div>
              <div class="answer right">
                <div class="avatar">
                  <img src="http://91.234.35.26/iwiki-admin/v1.0.0/admin/img/images/chat/40.png" alt="User name">
                  <div class="status busy"></div>
                </div>
                <div class="name">Alexander Herthic</div>
                <div class="text">
                  It is a long established fact that a reader will be. Thanks Mate!
                </div>
                <div class="time">5 min ago</div>
              </div>
              <div class="answer right">
                <div class="avatar">
                  <img src="http://91.234.35.26/iwiki-admin/v1.0.0/admin/img/images/chat/40.png" alt="User name">
                  <div class="status off"></div>
                </div>
                <div class="name">Alexander Herthic</div>
                <div class="text">
                  It is a long established fact that a reader will be. Thanks Mate!
                </div>
                <div class="time">5 min ago</div>
              </div>
              <div class="answer left">
                <div class="avatar">
                  <img src="http://91.234.35.26/iwiki-admin/v1.0.0/admin/img/images/chat/40-2.png" alt="User name">
                  <div class="status offline"></div>
                </div>
                <div class="name">Alexander Herthic</div>
                <div class="text">
                  Lorem ipsum dolor amet, consectetur adipisicing elit Lorem ipsum dolor amet, consectetur adipisicing elit Lorem ipsum dolor amet, consectetur adiping elit
                </div>
                <div class="time">5 min ago</div>
              </div>
              <div class="answer right">
                <div class="avatar">
                  <img src="http://91.234.35.26/iwiki-admin/v1.0.0/admin/img/images/chat/40.png" alt="User name">
                  <div class="status offline"></div>
                </div>
                <div class="name">Alexander Herthic</div>
                <div class="text">
                  Lorem ipsum dolor amet, consectetur adipisicing elit Lorem ipsum dolor amet, consectetur adipisicing elit Lorem ipsum dolor amet, consectetur adiping elit
                </div>
                <div class="time">5 min ago</div>
              </div>
              <div class="answer left">
                <div class="avatar">
                  <img src="http://91.234.35.26/iwiki-admin/v1.0.0/admin/img/images/chat/40-2.png" alt="User name">
                  <div class="status online"></div>
                </div>
                <div class="name">Alexander Herthic</div>
                <div class="text">
                  ...
                </div>
                <div class="time">5 min ago</div>
              </div>
              <div class="answer right">
                <div class="avatar">
                  <img src="http://91.234.35.26/iwiki-admin/v1.0.0/admin/img/images/chat/40.png" alt="User name">
                  <div class="status busy"></div>
                </div>
                <div class="name">Alexander Herthic</div>
                <div class="text">
                  It is a long established fact that a reader will be. Thanks Mate!
                </div>
                <div class="time">5 min ago</div>
              </div>
              <div class="answer right">
                <div class="avatar">
                  <img src="http://91.234.35.26/iwiki-admin/v1.0.0/admin/img/images/chat/40.png" alt="User name">
                  <div class="status off"></div>
                </div>
                <div class="name">Alexander Herthic</div>
                <div class="text">
                  It is a long established fact that a reader will be. Thanks Mate!
                </div>
                <div class="time">5 min ago</div>
              </div>
            </div>
              <div class="answer-add">
                <input placeholder="Write a message">
                <span class="answer-btn answer-btn-1"></span>
                <span class="answer-btn answer-btn-2"></span>
              </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
