<!DOCTYPE html>
<html>
  <head>
    <title>Sealify</title>
    <%include templates/bootstrap.ejs%>
    <!-- Custom styles for this template -->
    <link href="/css/cover.css" rel="stylesheet">
     <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p></p>
  </body>
<%include templates/angular.ejs%>
</html>
