<!DOCTYPE html>
<html>

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Vessel</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/grayscale.css" rel="stylesheet">
    
    <!--Animate CSS-->
    <link href="css/animate.css" rel="stylesheet">
    
    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

  </head>
  <style>
.navbar-nav > li > .dropdown-menu:before {
  content: "";
  background: rgba(25,25,25, .95);
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  -webkit-filter: blur(30px);
}
    .navbar-nav > li > .dropdown-menu { background-color: rgba(50,50,50, 0.3);}
    .navbar-custom .navbar-nav .open .dropdown-menu>li>a,.navbar-custom .navbar-nav .open .dropdown-menu {
      color:#ffffff;
    }
.dropdown-menu {
    width: 300px !important;
}
.text-shadow {
 text-shadow: 2px 2px 4px #000000;
}

.vesselFade {
    -webkit-animation-delay: 0.3s; /* Chrome, Safari, Opera */
    animation-delay: 0.3s;
}

.firstFade {
    -webkit-animation-delay: 1s; /* Chrome, Safari, Opera */
    animation-delay: 1s;
}
.secondFade {
    -webkit-animation-delay: 2s; /* Chrome, Safari, Opera */
    animation-delay: 2s;
}
.secondPulse {
    -webkit-animation-delay: 2.5s; /* Chrome, Safari, Opera */
    animation-delay: 2.5s;
    -webkit-animation-duration: 2s; /* Chrome, Safari, Opera */
    animation-duration: 2s;    
    -webkit-animation-iteration-count: 20; /* Chrome, Safari, Opera */
    animation-iteration-count: 20;
}
  </style>
  <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
            <i class="fa fa-bars"></i>
          </button>
          <a class="navbar-brand page-scroll" href="#page-top">
            <span><img src="img/logo.png" style="height: 30px;"></span>
            <p style="font-family: 'Lobster', cursive;display: inline-block;" class="light">Vessel</p>
          </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
          <ul class="nav navbar-nav">
            <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
            <li class="hidden">
              <a href="#page-top"></a>
            </li>
            <li>
              <a class="page-scroll" href="#about">About</a>
            </li>
              <li>
                <a class="page-scroll" href="#contact">Contact</a>
              </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sign Up<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li>
                    <div class="form-group">
                      <label for="email">Email address</label>
                      <input type="email" class="form-control" id="email" placeholder="Email">
                    </div>
                  </li>
                  <li role="separator" class="divider"></li>
                  <li>
                    <div class="form-group">
                      <label for="keybase">Keybase Username</label>
                      <input type="keybase" class="form-control" id="Keybase" placeholder="Keybase Username">
                    </div>
                  </li>
                  <li role="separator" class="divider"></li>
                  <li>
                    <div class="form-group">
                      <label for="password">Password</label>
                      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                    </div>
                  </li>
                  <li role="separator" class="divider"></li>
                  <li>
                    <div class="form-group">
                      <label for="password">Confirm Password</label>
                      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Confirm Password">
                    </div>
                  </li>
                  <li role="separator" class="divider"></li>
                  <li>
                    <button type="submit" class="btn btn-default">Submit</button>
                  </li>
                </ul>

            </li> 
            <li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Login<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li>
                    <div class="form-group">
                      <label for="email">Email address</label>
                      <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
                    </div>
                  </li>
                  <li role="separator" class="divider"></li>
                  <li>
                    <div class="form-group">
                      <label for="password">Password</label>
                      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                    </div>
                  </li>
                  <li role="separator" class="divider"></li>
                  <li>
                    <button type="submit" class="btn btn-default">Submit</button>
                  </li>
                </ul>
              </li> 
          </ul>
        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container -->
    </nav>

    <!-- Intro Header -->
    <header class="intro">
      <div class="intro-body">
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <h1 style="font-family: 'Lobster', cursive;" class="brand-heading vesselFade animated fadeIn">Vessel</h1>
              <p class="intro-text text-shadow firstFade animated fadeIn">Encrypt your conversations.</p>
              <a href="#about" class="btn btn-circle page-scroll secondFade animated fadeIn">
                <i class="fa fa-angle-double-down secondPulse animated pulse"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- About Section -->
    <section id="about" class="container content-section text-center">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <h2>About Vessel</h2>
          <p>Grayscale is a free Bootstrap 3 theme created by Start Bootstrap. It can be yours right now, simply download the template on <a href="http://startbootstrap.com/template-overviews/grayscale/">the preview page</a>. The theme is open source, and you can use it for any purpose, personal or commercial.</p>
          <p>This theme features stock photos by <a href="http://gratisography.com/">Gratisography</a> along with a custom Google Maps skin courtesy of <a href="http://snazzymaps.com/">Snazzy Maps</a>.</p>
          <p>Grayscale includes full HTML, CSS, and custom JavaScript files along with LESS files for easy customization.</p>
        </div>
      </div>
    </section>

    <!-- Download Section -->
    <section id="contact" class="content-section text-center">
      <div class="download-section">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <h2>Contact Us</h2>
              <p class=text-shadow>Feel free to email us to provide some feedback on our templates, give us suggestions for new templates and themes, or to just say hello!</p>
              <br>
              <p><a href="mailto:feedback@startbootstrap.com" class=text-shadow>feedback@startbootstrap.com</a>
              </p>
              <ul class="list-inline banner-social-buttons">
                <li>
                  <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                </li>
                <li>
                  <a href="https://github.com/IronSummitMedia/startbootstrap" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                </li>
                <li>
                  <a href="https://plus.google.com/+Startbootstrap/posts" class="btn btn-default btn-lg"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name">Google+</span></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
    </section>

    <!-- Footer -->
    <footer>
      <div class="container text-center">
        <p>Copyright &copy; Vessel 2016</p>
      </div>
    </footer>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="js/jquery.easing.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/grayscale.js"></script>
  </body>

</html>
